html {
   font-size: 10px;
   height: 100%;
   background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(163,40,40,1) 50%, rgba(252,176,69,1) 100%);
}

body {
   text-align: center;
   margin: 0;
   padding: 0; 
}

* {
   box-sizing: border-box;
}

#calculator {
   display: flex;
   justify-content: space-between;
   flex-flow: wrap;
   margin: 100px auto 0;
   width: 320px;
   height: 400px;
   
   button {
      font-size: 3rem;
      height: 70px;
      width: 70px;
      border: none;
      background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(101,82,42,1) 100%);
      color: #FFFFFF;
      cursor: pointer;
   }
   .result {
      width: 100%;
      display: flex;
      justify-content: space-between;
   }
}

.result {
   .number-result {
      text-align: right;
      width: 245px;
      font-size: 5rem;
      color: #FFFFFF;
      line-height: 70px;
      height: 70px;
      overflow: hidden;
      text-overflow: ellipsis;
   }
}

h1 {
   margin-top: 100px;
   font-size: 4rem;
   text-transform: uppercase;
   color: #FFFFFF;
}

